reflex==0.8.28.post1
Flask==3.1.3
Flask-CORS>=4.0.0
langchain==1.2.13
langchain-core==1.2.23
langchain-community==0.4.1
langchain-huggingface==1.2.1
langchain-text-splitters==1.1.1
sentence-transformers==5.3.0
python-dotenv==1.2.2
huggingface-hub>=1.0.0
docx2txt
chromadb==1.5.5
langchain-groq==1.1.2
langchain-chroma==1.1.0
pypdf==4.2.0
groq==0.4.1
faiss-cpu==1.13.2
requests==2.31.0